//About
#about {
  text-align: center;
  color: #333333;
  @include bp-ip6 {
    padding: 45px 0px 0px;
    .title {
      h4 {
        font-weight: bold;
        font-size: 30px;
      }
      p {
        font-size: 12px;
        padding: 24px 55px;
      }
    }
    .item {
      margin-bottom: 45px;
      &-title {
        font-weight: bold;
        padding: 12px 0px 8px;
        font-size: 16px;
      }
      &-des {
        padding: 0px 35px;
      }
    }
  }
  @include bp-desktop-sm {
    padding: 85px 0px 65px;
    .title {
      h4 {
        font-weight: bold;
        font-size: 30px;
      }
      p {
        font-size: 18px;
        padding: 24px 0px 40px;
      }
    }
    .item {
      margin-bottom: 45px;
      &-title {
        font-weight: bold;
        padding: 12px 0px 8px;
        font-size: 18px;
      }
      &-des {
        padding: 0px;
        font-size: 18px;
      }
    }
  }
}
//Slide carousel
#slide {
  position: relative;
  @include bp-ip6 {
    &:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 200px;
      background-color: #d8251d;
    }
    .slide-layer {
      top: 40px;
      .slick-list {
        padding-bottom: 50px!important;
      }
      .slick-slide {
        box-shadow: 0px 3px 30px 10px rgba(0,0,0,.16);
        @include transform(scale(0.8));
        @include transition(all 0.4s);
        &.slick-center {
          @include transform(scale(1));
        }
        img {
          width: 100%;
        }
      }
      .slide-caption {
        position: absolute;
        bottom: 0;
        width: 516px;
        height: 136px;
        background: white;
        padding: 30px;
        .new {
          position: absolute;
          top: -20px;
          left: 0px;
          background: #dc3029;
          color: white;
          font-weight: bold;
          font-size: 16px;
          padding: 9px 16px;
        }
        .caption-date {
          color: #9c9c9c;
          font-size: 18px;
          i {
            padding-right: 4px;
          }
        }
        .caption-cate {
          color: #dc3029;
          font-size: 14px;
          font-weight: 500;
          border: 1px solid;
          padding: 1px 3px;
          margin-left: 8px;
        }
        .caption-title {
          display: block;
          color: #333333;
          font-size: 18px;
          padding: 12px 0px;
          font-weight: bold;
          line-height: 25px;
          outline: none;
        }
      }
    }
  }
  @include bp-desktop-sm {
    &:before {
      height: 360px;
    }
    .slide-layer {
      top: 40px;
      .slick-list {
        padding-bottom: 50px!important;
      }
      .slick-slide {
        box-shadow: 0px 3px 30px 10px rgba(0,0,0,.16);
        @include transform(scale(0.8));
        @include transition(all 0.4s);
        &.slick-center {
          @include transform(scale(1));
        }
        img {
          width: 100%;
        }
      }
      .slide-caption {
        position: absolute;
        bottom: 0;
        width: 516px;
        height: 136px;
        background: white;
        padding: 30px;
        .new {
          position: absolute;
          top: -20px;
          left: 0px;
          background: #dc3029;
          color: white;
          font-weight: bold;
          font-size: 16px;
          padding: 9px 16px;
        }
        .caption-date {
          color: #9c9c9c;
          font-size: 18px;
          i {
            padding-right: 4px;
          }
        }
        .caption-cate {
          color: #dc3029;
          font-size: 14px;
          font-weight: 500;
          border: 1px solid;
          padding: 1px 3px;
          margin-left: 8px;
        }
        .caption-title {
          display: block;
          color: #333333;
          font-size: 18px;
          padding: 12px 0px;
          font-weight: bold;
          line-height: 25px;
          outline: none;
        }
      }
    }
  }
}
//Post
.post {
  background: #efefef;
  @include bp-ip6 {
    padding: 50px 0px;
    .title {
      text-align: center;
      h4 {
        font-weight: bold;
        font-size: 30px;
      }

      p {
        font-size: 12px;
        padding: 24px 55px 50px;
      }
    }
    &-item {
      position: relative;
      background: #FFFFFF;
      margin-bottom: 35px;
      box-shadow: 0px 0px 6px -4px rgba(0, 0, 0, 0.6);
      img {
        width: 100%;
        height: 275px;
        object-fit: cover;
      }
      .new {
        position: absolute;
        top: -12px;
        left: 0px;
        background: #dc3029;
        color: white;
        font-weight: bold;
        font-size: 16px;
        padding: 9px 16px;
      }
    }
    &-content {
      padding: 35px;
      height: 340px;
      overflow: hidden;
      &-date {
        color: #9c9c9c;
        font-size: 14px;
        font-weight: 500;
        .fa-clock {
          padding-right: 4px;
        }
      }
      &-cate {
        color: #dc3029;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid;
        padding: 1px 3px;
        margin-left: 8px;
        &:hover{
          color: #dc3029;
        }
        &:focus{
          color: #dc3029;
        }
      }
      &-title {
        display: block;
        color: #333333;
        font-size: 20px;
        font-weight: 500;
        padding: 20px 0px;
      }
      &-des {
        font-size: 18px;
      }
    }
    .view-all {
      display: inline-block;
      background: #dc3029;
      font-size: 15px;
      font-weight: bold;
      color: white;
      padding: 20px 60px;
      margin: 45px 0px 30px;
      @include border-radius(30px);
      text-decoration: none;
    }
  }
  @include bp-desktop-sm {
    padding: 85px 0px;
    .title {
      h4 {
        font-weight: bold;
        font-size: 30px;
      }
      p {
        font-size: 18px;
        padding: 24px 0px 50px;
      }
    }
    &-item {
      position: relative;
      background: #FFFFFF;
      box-shadow: 0px 0px 6px -4px rgba(0, 0, 0, 0.6);
    }
    &-content {
      padding: 35px;
      &-date {
        color: #9c9c9c;
        font-size: 18px;
      }
      &-cate {
        color: #dc3029;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid;
        padding: 1px 3px;
        margin-left: 8px;
        &:hover{
          color: #dc3029;
        }
        &:focus{
          color: #dc3029;
        }
      }
      &-title {
        font-size: 18px;
        padding: 12px 0px;
        font-weight: bold;
        line-height: 25px;
      }
      &-des {
        font-size: 18px;
      }
    }
    .view-all {
      padding: 13px 60px;
    }
  }
}
//Message
.message {
  @include bp-ip6 {
    padding: 70px 0px;
    .title {
      font-size: 26px;
      font-weight: bold;
      padding-bottom: 20px;
    }
    &-content {
      &_des {
        p {
          font-size: 14px;
          padding-bottom: 15px;
        }
      }
      &_name {
        text-align: right;
        font-size: 30px;
        font-weight: 500;
        padding: 16px 0px;
      }
    }
    .img-message {
      width: 270px;
      height: 370px;
      margin: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  @include bp-tablet-vertical {
    .img-message {
      width: 100%;
      height: 100%;
    }
  }
  @include bp-desktop-sm {
    &-content {
      &_title {
        font-size: 30px;
      }
      &_des {
        p {
          font-size: 18px;
        }
      }
      &_name {
        padding: 16px 0px 0px;
      }
    }
    .img-message {
      width: 100%;
      height: 100%;
    }
  }
}
//Banner
#banner {
  position: relative;
  background: url("../img/banner-paralax.png") no-repeat;
  background-size: cover;
  background-position: center right;
  justify-content:center;
  align-items: center;
  &:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  @include bp-ip6 {
    height: 680px;
    @include flex;
    .title {
      color: #FFFFFF;
      h4 {
        font-weight: bold;
        font-size: 30px;
      }
      p {
        font-size: 18px;
        padding: 24px 0px 40px;
      }
    }
  }
  @include bp-tablet-vertical {
    height: 360px;
  }
  @include bp-desktop-sm {
    height: 360px;
  }
}
//Sponsor
#sponsor {
  background: #efefef;
  text-align: center;
  color: #333333;
  @include bp-ip6 {
    padding: 45px 0px;
    .title {
      h4 {
        font-weight: bold;
        font-size: 30px;
      }
      p {
        font-size: 12px;
        padding: 24px 55px;
      }
    }
    .item {
      background: #FFFFFF;
      border: 2px solid #e8e8e8;
      padding: 35px 0px;
      margin-bottom: 30px;
      margin: 0px 35px 30px;
    }
  }
  @include bp-desktop-sm {
    padding: 85px 0px;
    .title {
      h4 {
        font-weight: bold;
        font-size: 30px;
      }
      p {
        font-size: 18px;
        padding: 24px 0px 40px;
      }
    }
    .item {
      margin: 0px;
    }
  }
}
